<!DOCTYPE html>
<html>
<head><title>Dashboard</title></head>
<body>
  <h2>Dashboard Kategori Pantun</h2>
  <ul>
    <% categories.forEach(cat => { %>
      <li><a href="/kategori/<%= cat %>"><%= cat.toUpperCase() %></a></li>
    <% }) %>
  </ul>
</body>
</html>
